/* * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
input,
textarea,
select,
button {
    outline: none;
}
input {
    line-height: normal;
}
label,
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
ul {
    list-style-type: none;
}
:root {
    --ui-background: #5f50f1;
    --green: #50f15f;
    --red: #f15f50;
    --purple: #b050f1;
    --yellow: #f1c40f;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
.green {
    color: var(--green);
}
.ui-bg {
    color: var(--ui-background);
}
.purple {
    color: var(--purple);
}
.red {
    color: var(--red);
}
.container {
    position: relative;
}
input[type="radio"] {
    display: none;
}
.none {
    display: none;
}
 */
 * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: inherit; 
    text-decoration: none;
    outline: none;
    border: none;
    
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}
input {
    line-height: normal;
}
label,
button {
    cursor: pointer;
}
ul {
    list-style-type: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html.loader{
    /* box-sizing: border-box; */
    /* font-size: 62.5%; */
    /* overflow-y: hidden; */
    scroll-behavior: smooth;
}

:root {
    /* ADMIN */
    --ui-background: #5f50f1;
    --green: #50f15f;
    --red: #f15f50;
    --purple: #b050f1;
    --yellow: #f1c40f;

    /* HOME */
    --black:#192a56;
    --primary-bgc: #fff;
    --text-black: #170055;
    --text-color: #fff;
    --primary-color: #5f50f1;

    --filter-black-2: rgba(0,0,0,0.0);
    --filter-black-3: rgba(0,0,0,0.3);
    --filter-black-5: rgba(0,0,0,0.5);
    --filter-black-6: rgba(0,0,0,0.6);
    --filter-black-8: rgba(0,0,0,0.8);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,0.5);

    --height-nav: 6rem;
    --slide-content-size: 6rem;
    --slide-content-weight: 800;
    --button-width: 4rem;
    --button-height: calc(var(--button-width) * .8);
    --rectangle-height: calc(var(--button-width) * .11);
    --rectangle-radius: calc(var(--button-width) * .04);
    --translate: calc(var(--button-width) * .17);
    --transition: 0.65s;
    
}

body {
    min-height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

.green {
    color: var(--green);
}
.ui-bg {
    color: var(--ui-background);
}
.purple {
    color: var(--purple);
}
.red {
    color: var(--red);
}
.container {
    position: relative;
}
input[type="radio"] {
    display: none;
}
.none {
    display: none;
}