#main .modal__profile {
    min-width: 400px;
    height: 650px;
    margin: auto;
    padding-top: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    border-radius: 20px;
    overflow: hidden;

    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
   
    transition: all 0.3s ease;

    border:2px solid rgba(225, 255, 255, 0.5);
    border-right: 1px solid rgba(225, 255, 255, 0.2);
    border-bottom: 1px solid rgba(225, 255, 255, 0.2);;
    border-radius: 10px;
    background-color: rgba(225, 255, 255, 0.1);
    backdrop-filter: blur(25px);
}

#main .modal__profile.active {
    transform: translate(-50%,-50%) scale(1);
}

#main .modal-profile__optinons {
    position: absolute;
    top: 8px; left: 10px;
    z-index: 100000;
}

#main .modal-profile__optinons .btn-options {
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 25px;
    color: #fff;
}

#main .modal-profile__optinons .btn-options  i {
    transition: all 0.3s ease;
}

#main .modal-profile__optinons:hover  .btn-options  i {
    transform: rotate(360deg);
}

#main .modal-profile__optinons .options__menu {
    position: absolute;
    top: 100%;
    left: -500px;
    width: 170px;height: 100px;
    padding: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    
    border:2px solid rgba(225, 255, 255, 0.5);
    border-right: 1px solid rgba(225, 255, 255, 0.2);
    border-bottom: 1px solid rgba(225, 255, 255, 0.2);;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(25px);

    transition: all 0.3s ease;

}

#main .modal-profile__optinons:hover  .options__menu {
    top: 100% ;left: 100%;
}

#main .modal-profile__optinons .options__menu::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 120px;
    top: -20px;left: -40px;
    z-index: -1;
}

.modal-profile__optinons .option__item {
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
}

#main .modal-profile__optinons .option__item:hover {
    transform: translateX(5px);
    text-shadow: 0 0 15px var(--primary-color);
    
}

#main .modal-profile__optinons .option__item i {
    color: inherit;
    font-size: 20px;
    margin-right: 10px;
}

#main .modal-profile__optinons .option__item span {
    color: inherit;
    font-size: 16px;
}

#main .modal-profile__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    transition: all 0.3s ease;
}

#main .modal-profile__main.hidden {
    left: -150%;
}

#main .modal-profile__imgBox {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    border:4px solid #fff;
    box-shadow: 0 0 25px var(--primary-color)
}

#main .modal-profile__imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main .modal-profile__header {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}

#main .modal-profile__info .groups input {
    border-radius: 0;
    transition: border-radius 0.3s ease;
}

#main .modal-profile__info.edit .groups input { 
    border-radius: 50px;
    transition: border-radius 0.3s ease;
}

#main .modal__profile .form .btn-save,
#main .modal-profile__changePass .btn-changePass {
    font-size: 20px;
    font-weight: 800;
    transform: translateY(110px);
    border: 1px solid var(--ui-background);
    padding: 5px 40px;
    margin-top: -10px;

    border-radius: 50px;
    color: #fff;
    display: block;

    border:2px solid rgba(225, 255, 255, 0.5);
    border-right: 1px solid rgba(225, 255, 255, 0.2);
    border-bottom: 1px solid rgba(225, 255, 255, 0.2);
    background-color: rgba(95, 80, 241, 0.2);
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.1s linear;
    backdrop-filter: blur(25px);
}

#main .modal__profile .form .btn-save:hover,
#main .modal-profile__changePass .btn-changePass:hover {
    border:2px solid rgba(225, 255, 255, 0.5);
    border-right: 1px solid rgba(225, 255, 255, 0.2);
    border-bottom: 1px solid rgba(225, 255, 255, 0.2);

    color: #fff;
    background-color: rgba(95, 80, 241, 0.8);
}

#main .modal__profile .modal-profile__info.edit .btn-save {
    transform: translateY(0);
}

#main .modal-profile__changePass {
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease;
}

#main .modal-profile__changePass.active {
    left: 50%;
}

#main .modal-profile__changePass .changeSign {
    width: 50px;
    font-size: 1.2rem;
    margin-top: 30px;
}

#main .modal-profile__changePass .btn-changePass {
    transform: translateY(0);
    margin: 0;
}

#main .modal-profile__changePass .btn-changeProfile {

}

@media (max-width: 739px) {
  
    #admin .modal__profile { 
      width: 100%;
      min-width: 20rem;
      height: 100vh;
    }
}

