


.navigation-mobile {
    position: fixed;
    bottom: -100%;
    width: 100%;
    z-index: 10000;
    height: 60px;
    line-height: 0;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    background-color: var(--primary-color);
    border-top: 1px solid var(--primary-color);
    
    transition: all 0.3s ease;
}

.navigation-mobile .icon {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

    cursor: pointer;
    height: 100%;
    padding-bottom: 13px;

    position: relative;
}

.navigation-mobile .icon.noti::before {
    content: attr(data-amount);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 11px;
    position: absolute;
    top: 0;right: -5px;
    background-color: var(--red);
    border: 1px solid #fff;
    border-radius: 100%;
    width: 16px;height: 16px;
    z-index: 100;
}

.navigation-mobile .icon p {
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
}

@media (max-width: 600px) { 
    .navigation-mobile {
        bottom: 0px;
        margin-bottom: -5px;
    }
    .navigation-mobile .icon > i {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;

    height: 35px;
    width: 35px;
    margin-left: 0.5rem;
    border-radius: 50%;
    border-bottom: 1px solid #fff;

    line-height: 35px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;

    color: #fff;
    transition: transform .3s ease;
    }

}