
                #shop {
                    font-size: 14px;
                    line-height: 1.75;
                    color: #999;
                    font-weight: 400;
                    width: 100%;
                    color: #878787;
                    overflow-x: hidden;
                    scroll-behavior: smooth;
                    animation: fadeIn ease-in-out 0.5s;
                }
                
                #shop #wrapper {
                    width: 100%;
                }
                /* Product-intro aaa*/
                
                #shop #product-intro {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    line-height: 150px;
                    width: 100%;
                    height: 150px;
                    background-color: #5f50f1;
                }
                
                #shop #product-intro p {
                    color: aliceblue;
                    font-size: 25px;
                    text-transform: uppercase;
                    white-space: 20px;
                    letter-spacing: 7px;
                    cursor: pointer;
                    user-select: none;
                }
                /* 
Menu */
                
                #shop #menu {
                    margin: 50px auto 0;

                    width: 70%;
                    max-width: 900px;
                    height: 75px;
                    
                    background-color: #Fff;
                    display: flex;
                    justify-content: space-between;
                    color: #111;
                    cursor: pointer;
                }
                
                #shop #menu #ter {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 170px;
                    height: 50px;

                    text-align: center;
                    line-height: 50px;
                    border-radius: 25px;
                    color: #fff;
                    box-shadow: rgba(5, 67, 161, 0.5) 5px 5px 7px;

                }
                
                #shop #menu #ter i {
                    color: #5f50f1;
                    font-size: 20px;
                    margin-right: 1em;
                }
                
                #shop #menu #ter p {
                    letter-spacing: 2px;
                    font-weight: 500;
                    color: #5f50f1;
                }
                
                #shop #slt {
                    width: 170px;
                    height: 50px;
                    /* margin-right: 45px; */
                    background-color: #5f50f1;
                    color: #FFF;
                    text-align: center;
                    font-weight: 400;
                    border-radius: 25px;
                    border: none;
                    box-shadow: rgba(43, 50, 59, 0.5) 5px 5px 5px;
                }
                /* 

Content shibashop */
                
                #shop #product-gaoshop {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
                /* 

lam bo loc */
                
                #shop #filter {
                    width: 25%;
                    padding: 0 40px 0 0;
                    display: none;
                }
                
                #shop #filter i#close {
                    position: absolute;
                    top: 10px;
                    left: 90%;
                    right: 1rem;
                    display: none;
                    font-size: 3rem;
                    color: #5f50f1;
                    cursor: pointer;
                }
                
              
                
                #shop a {
                    text-decoration: none;
                }
                
                #shop ul.loc1 li a {
                    transition: all 0.3s ease-in-out;
                }
                
                #shop ul.loc1 li:hover a {
                    font-size: 1.5rem;
                    color: #3e3e3e;
                    font-weight: bold;
                }
                
                #shop ul.loc1 h3 {
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: black;
                    position: relative;
                }
                
                #shop ul.loc1 h3::before {
                    content: "";
                    width: 25%;
                    height: 3px;
                    background-color: #5f50f1;
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                }
                
                #shop ul.loc1 li {
                    margin: 15px 0px;
                    cursor: pointer;
                }
                
                #shop ul.loc1 li a {
                    color: #5f50f1;
                    width: 50%;
                }
                #shop ul.loc1 li a.locsanpham{
                    display: flex;
                }
                /* Gia  */
                
                #shop .slidecontainer input#myRange {
                    width: 100%;
                    height: 2px;
                }
                
                #shop .slidecontainer #byPricein {
                    display: flex;
                    text-align: center;
                    flex-wrap: wrap;
                    flex-basis: 1em;
                }
                /* Tim kiem */
                
                #shop ul.loc1 li input#search {
                    height: 40px;
                    width: 100%;
                    font-size: 14px;
                    border: 2px solid black;
                }
                
                #shop ul.loc1 li button.filter-submit {
                    width: 100px;
                    height: 40px;
                    font-size: 14px;
                    color: black;
                    background-color: #Fff;
                    border: 1px solid black;
                }
                
                #shop ul.loc1 li button.filter-submit:hover {
                    background-color: #5f50f1;
                    color: #fff;
                }
                /* Mau sac */
                
               
                
                #shop ul.loc1 li.hotro {
                    display: flex;
                    flex-wrap: wrap;
                    flex-basis: 50%;
                }
                
                #shop ul.loc1 li.hotro i {
                    color: #5f50f1;
                    font-size: 2rem;
                    margin-right: 2rem;
                }
                
                #shop ul.loc1 li.hotro div span {
                    display: block;
                }
                
                #shop ul.loc1 li.hotro div span.tachchu {
                    letter-spacing: 0.3rem;
                    font-size: 1rem;
                }
                /* 
San pham  */
                
                #shop .center-product {
                    width: 70%;
                    max-width: 900px;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    flex-direction:column;
                }
                
                #shop ul {
                    list-style: none;
                }
                
                #shop ul#products {
                    --spacing: 30px;
                    width: 100%;
                    --column:3 ;
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -30px;
                }
                
                #shop ul#products > * {
                   flex-basis:  calc(calc(100% / var(--column)) - 30px);
                
                    box-sizing: border-box;
                    margin-bottom: 30px;
                    /* margin-right: 1.5em; */ 
                    margin-left: 30px;

                    box-shadow: rgba(5, 67, 161, 0.5) 7px 7px 15px;
                    animation: fadeIn ease-in 0.5s;
                    border-radius: 15px;
                    overflow: hidden;

                    display: flex;
                    flex-direction: column;
                   
                }
                
                #shop ul#products li img {
                    height: 30em;
                    display: block;
                    width: 100%;
                    transition: all 0.5s ease-in;
                    box-sizing: border-box;
                }
                
                #shop ul#products li .product-top {
                    position: relative;
                    overflow: hidden;
                    flex-shrink: 0;
                }
                
                #shop ul#products li .product-top .product-thumb {
                    display: block;
                }
                
                #shop ul#products li:hover .product-top .product-thumb img {
                    transform: scale(1.1);
                    opacity: 0.8;
                }
                
                #shop ul#products li .product-top .product-thumb img {
                    display: block;
                    width: 100%;
                    height: 30em;
                    object-fit: cover;
                    position: relative;
                    padding: auto;
                }
            
                #shop #products .icon-heart {
                    position: absolute;
                    z-index: 1000;
                    top: 0;
                    right: -13rem;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 1rem;
                    
                    font-size: 3rem;
                    cursor: pointer;
                    color: #f15f50;
                    text-shadow: 0 0 35px #FF0000;
                    transition: all .3s ease;
                
                }
                
                #shop #products .icon-heart .fas {
                    display:  none;
                }
                
                #shop #products .icon-heart.active .far{
                    display:  none;
                }
                
                #shop #products .icon-heart.active .fas {
                    display: block;
                }
            
                
                #shop ul#products li .product-top div.buy-now {
                    text-transform: uppercase;
                    text-decoration: none;
                    text-align: center;
                    display: block;
                    background-color: #5f50f1;
                    color: #fff;
                    padding: 10px 0px;
                    position: absolute;
                    bottom: -42px;
                    width: 100%;
                    transition: 0.25s ease-in-out;
                    opacity: 0.85;
                }
                
                #shop ul#products li .product-top div.buy-now {
                    display: flex;
                    justify-content: center;
                    transition: all 0.3s ease-in-out;
                }
                
                #shop ul#products li .product-top div.buy-now .product-quantity {
                    font-size: 100%;
                    display: flex;
                    justify-content: center;
                    margin-right: 1.5em;
                }
                
                #shop ul#products li .product-top div.buy-now button {
                    background: transparent;
                    cursor: pointer;
                    color: #f1f1f1;
                    font-size: 100%;
                    font-weight: bolder;
                    border: none;
                }
                
                #shop ul#products li .product-top div.buy-now .product-quantity input {
                    width: 2rem;
                    height: 2rem;
                    text-align: center;
                    margin: auto 5px;
                    background: transparent;
                    width: 2.5em;
                    border: none;
                    color: #fff;
                    border-right: 2px solid #9e9e9e;
                    border-left: 2px solid #9e9e9e;
                    font-size: 100%;
                }
                
                #shop ul#products li:hover div.buy-now div.addtocart {
                    background: transparent;
                    line-height: auto;
                    cursor: pointer;
                    font-size: 1em;
                    font-weight: bold;
                    
                }
                
                #shop ul#products li:hover div.buy-now .product-quantity input {
                    border-right: 2px solid #fff;
                    border-left: 2px solid #fff;
                    font-weight: bold;
                }
                
                #shop ul#products li:hover div.buy-now {
                    bottom: 0px;
                    background-color: tomato;
                }
                
                #shop ul#products li:hover .icon-heart{
                    right: 0;
                }
                
                #shop ul#products li .product-info {
                    padding: 5px 18px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                   
                }
                
                #shop ul#products li .product-info a {
                    display: block;
                    text-decoration: none;
                }
                
                #shop ul#products li .product-info .product-cat {
                    font-size: 11px;
                    color: #9e9e9e;
                    text-transform: uppercase;
                    padding: 3px 0px;
                    display:-webkit-box;
                    -webkit-line-clamp:2;
                   -webkit-box-orient: vertical;
                    overflow: hidden;
                   text-overflow: ellipsis;
                   word-break: break-word;  
                }
        
                #shop ul#products li .product-info a.product-name {
                    color: #5f50f1;
                    font-weight: 700;
                    letter-spacing: 2px;
                    padding: 3px 0px;
                    display:-webkit-box;
                    -webkit-line-clamp:2;
                   -webkit-box-orient: vertical;
                    overflow: hidden;
                   text-overflow: ellipsis;
                   word-break: break-word;  
                    
                }
                #shop ul#products li .product-info .price{
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: auto;
                    
                }
                #shop ul#products li .product-info .price .product-price {
                    text-decoration: wavy;
                    color: #999;
                    font-weight: 500;
                    padding: 2px 0px;
                    text-decoration:  2px line-through;
                    font-size: 1.1em;
                    margin-right: 10%;
                }
                #shop ul#products li .product-info .price .sale-price{
                    color: var(--red);
                    font-weight: bold;
                    font-size: 1.2em;
                    
                    
                }
                #shop div.btn-load {
                    width: 120px;
                    height: 50px;
                    background-color: #5f50f1;
                    text-align: center;
                    line-height: 50px;
                    margin: 15px auto;
                    color: #fff;
                    display: none;
                }
           
                
                #shop div.btn-load:hover {
                    filter: opacity(0.8);
                }
                /* Chuyá»ƒn trang huhu */
                
                #shop #chuyentrang {
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    margin: auto;
                    height: auto;
                    margin-bottom: 20px;
                    /* margin-top: auto; */
                }
                
                #shop #chuyentrang p.trangn {
                    font-size: 1.5em;
                    margin: 0 0.5em;
                    color: #fff;
                    width: 1.8em;
                    height: auto;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #5f50f1;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }
                
                #shop #chuyentrang p.trangn:hover {
                    background-color: #f1f1f1;
                    color: #5f50f1;
                }

                #shop #chuyentrang p.trangn.active {
                    background-color: #f1f1f1;
                    color: #5f50f1;
                }
                /* 
Nut backtop
 */
                
                #shop #backtop {
                    width: 50px;
                    height: 50px;
                    background-color: #5f50f1;
                    color: #fff;
                    border-radius: 50%;
                    position: fixed;
                    bottom: 40px;
                    right: 20px;
                    cursor: pointer;
                    transition: all 0.2s ease-in;
                    margin-top: 1em;
                    z-index: 100;
                }
                
                #shop #backtop i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 15px;
                }
                
                #shop #backtop:hover {
                    background:transparent;
                    color: #5f50f1;
                    border: 1px solid #5f50f1;
                }